<section class="bg-main-light shadow p-2 my-2 rounded-4">
  <h1 class="h2 text-main">Register Now</h1>

  <form [formGroup]="registerForm" (ngSubmit)="registerSubmit()">
    <!-- Name -->
    <div class="my-2">
      <label>Name</label>
      <input
        formControlName="userName"
        class="form-control"
        [ngClass]="{
          'is-valid': registerForm.get('userName')?.valid && registerForm.get('userName')?.touched,
          'is-invalid':
            registerForm.get('userName')?.invalid && registerForm.get('userName')?.touched
        }"
      />

      @if (registerForm.get('userName')?.errors && registerForm.get('userName')?.touched) {
      <div class="alert alert-danger w-50">
        @if (registerForm.get('userName')?.getError('required')) {
        <p class="m-0">Name is required</p>
        } @else if (registerForm.get('userName')?.getError('minlength')) {
        <p class="m-0">Minimum 3 characters</p>
        } @else if (registerForm.get('userName')?.getError('maxlength')) {
        <p class="m-0">Maximum 20 characters</p>
        }
      </div>
      }
    </div>

    <!-- Email -->
    <div class="my-2">
      <label>Email</label>
      <input
        type="email"
        formControlName="email"
        class="form-control"
        [ngClass]="{
          'is-valid': registerForm.get('email')?.valid && registerForm.get('email')?.touched,
          'is-invalid': registerForm.get('email')?.invalid && registerForm.get('email')?.touched
        }"
      />

      @if (registerForm.get('email')?.errors && registerForm.get('email')?.touched) {
      <div class="alert alert-danger w-50">
        <p class="m-0">Invalid email</p>
      </div>
      }
    </div>

    <!-- Password -->
    <div class="my-2">
      <label>Password</label>
      <input
        type="password"
        formControlName="password"
        class="form-control"
        [ngClass]="{
          'is-valid': registerForm.get('password')?.valid && registerForm.get('password')?.touched,
          'is-invalid':
            registerForm.get('password')?.invalid && registerForm.get('password')?.touched
        }"
      />
    </div>

    <!-- Confirm Password -->
    <div class="my-2">
      <label>Confirm Password</label>
      <input
        type="password"
        formControlName="confirmPassword"
        class="form-control"
        [ngClass]="{
          'is-valid':
            !registerForm.hasError('mismatch') && registerForm.get('confirmPassword')?.touched,
          'is-invalid':
            registerForm.hasError('mismatch') && registerForm.get('confirmPassword')?.touched
        }"
      />

      @if (registerForm.hasError('mismatch') && registerForm.get('confirmPassword')?.touched) {
      <p class="alert alert-danger w-50">Passwords do not match</p>
      }
    </div>

    <!-- Gender -->
    <div class="my-2 d-flex">
      <label class="me-3">Gender</label>
      <div>
        <input type="radio" value="male" formControlName="gender" /> Male
        <input type="radio" value="female" formControlName="gender" class="ms-3" /> Female
      </div>
    </div>

    <!-- Phone -->
    <div class="my-2">
      <label>Phone</label>
      <input
        type="tel"
        formControlName="phone"
        class="form-control"
        [ngClass]="{
          'is-valid': registerForm.get('phone')?.valid && registerForm.get('phone')?.touched,
          'is-invalid': registerForm.get('phone')?.invalid && registerForm.get('phone')?.touched
        }"
      />
    </div>

    <!-- DOB -->
    <div class="my-2">
      <label>Date of Birth</label>
      <input type="date" formControlName="DOB" class="form-control" />
    </div>

    <!-- Submit -->
    <button
      type="submit"
      class="btn-main ms-auto d-block"
      [disabled]="registerForm.invalid || isLoading"
    >
      Register @if (isLoading) {
      <i class="fas fa-spinner fa-spin ms-2"></i>
      }
    </button>

    @if (msgSuccess) {
    <p class="alert alert-success mt-2">Registered successfully</p>
    } @if (msgError) {
    <p class="alert alert-danger mt-2">{{ msgError }}</p>
    }
  </form>
</section>
