<section class="container py-4 my-5">
  <!-- Header -->
  <div class="products-header mb-5">
    <h2 class="fw-bold">All Products</h2>

    <div class="search-box shadow-sm">
      <input [(ngModel)]="searchValue" type="search" placeholder="Search products..." />
      <button>
        <i class="bi bi-search"></i>
      </button>
    </div>
  </div>

  <!-- Products Grid -->
  <div class="row g-4">
    @for(product of productsList | search:searchValue; track product._id){

    <div class="col-6 col-md-4 col-lg-3">
      <div class="product-card h-100">
        <!-- Image -->
        <div class="product-img-wrapper" [routerLink]="['/details', product._id]">
          <img
            [src]="`${baseURi}/uploads/images/${product.images[0]}`"
            [alt]="product.productName"
          />
        </div>

        <!-- Content -->
        <div class="product-body">
          <span class="product-category">
            {{ product.category.name }}
          </span>

          <h3 class="product-title">
            {{ product.productName | termtext : 3 }}
          </h3>

          <!-- Price -->
          <div class="price-box">
            <span class="new-price"> {{ product.price - product.discountPrice }} EGP </span>
            <span class="old-price"> {{ product.price }} EGP </span>
          </div>

          <span class="discount-badge">
            {{ ((product.discountPrice / product.price) * 100).toFixed(0) }}% OFF
          </span>

          <!-- Stock -->
          <div class="stock-info" *ngIf="product.stock <= 5 && product.stock !== 0">
            {{ product.stock }} left in stock
          </div>

          <div class="stock-info out" *ngIf="product.stock === 0">Out of stock</div>
        </div>

        <!-- Button -->
        <button
          class="add-cart-btn"
          [disabled]="product.stock === 0"
          (click)="addToCart(product._id)"
        >
          Add to Cart
        </button>
      </div>
    </div>

    }
  </div>

  <!-- Pagination -->
  <nav class="mt-5" *ngIf="totalPages > 1">
    <ul class="pagination justify-content-center">
      <!-- Previous -->
      <li class="page-item" [class.disabled]="currentPage === 1">
        <a class="page-link cursor-pointer" (click)="prevPage()"> Previous </a>
      </li>

      <!-- Pages -->
      @for(page of pages; track page){
      <li class="page-item" [class.active]="page === currentPage">
        <a class="page-link cursor-pointer" (click)="changePage(page)">
          {{ page }}
        </a>
      </li>
      }

      <!-- Next -->
      <li class="page-item" [class.disabled]="currentPage === totalPages">
        <a class="page-link cursor-pointer" (click)="nextPage()"> Next </a>
      </li>
    </ul>
  </nav>
</section>
